*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    background-color: #333;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: #222;
    width: 80vw;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 5fr 3fr;
}
.imge-box img,
#canvas{
    max-width: 45vw;
    max-height: 80vh;
}
.imge{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.upload input{
    display: none;
}
.upload label{
    padding: 8px 20px;
    font-size: 1.3rem;
    border: 2px dashed #ffffff;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
}
.controls ul,
.controls ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    direction: rtl;
    color: #fff;
}
.controls ul li:last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding-top: 50px; */
}
.controls ul li:last-child a,
.controls ul li:last-child span{
    text-decoration: none;
    color: #fff;
    background-color: green;
    padding: 8px 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* media query */
@media(max-width:770px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: minmax(200px,auto) 1fr;
        margin: 70px 0;
        max-height: 90vh;
    }
    .container .controls{
        overflow: auto;
    }
}